.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .75;
}

.gallery {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.gallery--top {
    z-index: 9999;
}

.gallery__box {
    padding: .25rem;
    background: #fff;
    position: relative;
}

.gallery__sizer {
    width: 200px;
    height: 200px;
    transition: width .5s ease, height .5s ease;
    position: relative;
}

.gallery__image {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery__nav__next {
    width: 66%;
}

.gallery__nav__prev {
    width: 34%;
}

.gallery__nav__next, .gallery__nav__prev {
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: opacity .25s ease;
}

.gallery__nav__next:hover, .gallery__nav__prev:hover {
    opacity: 1;
}

.gallery__details {
    padding-top: 1rem;
    font-size: .85rem;
    width: 208px;
    transition: width .5s ease;
    color: #fff;
    opacity: 0;
}

.gallery__caption::after {
    display: block;
    content: "";
    border-bottom: 2px solid #e2db19;
    width: 75px;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.gallery__number {
    font-weight: bold;
    color: #fff;
    line-height: .85rem;
}

.gallery__number--active {
    color: #e2db19;
}

.gallery__spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;margin-top: -20px;
}

.gallery__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.gallery__close-element:first-child {
    transform: rotate(45deg);
    top: -1px;
}

.gallery__close-element:last-child {
    transform: rotate(-45deg);
    top: 1px;
}

.gallery__close-element {
    width: 28px;
    height: 2px;
    background: #fff;
    transform-origin: left center;
    position: relative;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid #000;
    opacity: .2;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid #000;
    opacity: .2;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #e2db19;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}