/* General */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

nav ul::after, nav::after, .items::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

h3 {
    font-weight: inherit;
    font-size: 1.5em;
    margin-bottom: .5em;
}

/*::-moz-selection {
    text-shadow: 1px 1px #cdcdcd, 2px 2px #cdcdcd, 3px 3px #cdcdcd;
}

h1::-moz-selection, h2::-moz-selection {
    text-shadow: 1px 1px #cdcdcd, 2px 2px #cdcdcd, 3px 3px #cdcdcd,
    4px 4px #cdcdcd, 5px 5px #cdcdcd, 6px 6px #cdcdcd;
}

#skills ::-moz-selection {
    text-shadow: 1px 1px #646464, 2px 2px #646464, 3px 3px #646464;
}

#skills h2::-moz-selection {
    text-shadow: 1px 1px #646464, 2px 2px #646464, 3px 3px #646464,
    4px 4px #646464, 5px 5px #646464, 6px 6px #646464;
}*/

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0,0,0,.6), transparent);
    pointer-events: none;
}

nav {
    color: #fff;
    width: calc(100% - 2em);
    padding: 1em;
    margin: 2em 0 4em 0;
    font-family: "Slabo 27px", serif;
    font-size: 1.2em;
    transition: margin .5s ease;
}

#compact {
    margin: 0;
}

nav ul {
    float: right;
    text-shadow: 0 5px 1px rgba(0,0,0,.85);
}

nav li {
    float: left;
    padding: .5em;
    margin-right: 1em;
    cursor: pointer;
    pointer-events: all;
}

nav li:hover {
    text-decoration: underline;
}

/* Main */

main > div {
    min-height: calc(100vh - 2em);
    width: calc(100% - 2em);
    position: relative;
    display: flex;
    padding: 1em;
}

#lander {
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}

#lander::before {
    background: rgba(0,0,0,.2) url("../img/noise.png");
}

main > div > div:first-child {
    z-index: 1;
    margin: auto;
    font-weight: lighter;
    text-shadow: 0 5px 1px rgba(0,0,0,.6);
    text-align: center;
}

main > div::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
}

#lander > div:first-child {
    max-width: 500px;
}

#lander > div:first-child > h1, #lander > div:first-child > p {
    transition: opacity 2s ease;
}

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

main > div h1, main > div h2 {
    font-weight: inherit;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: .5em;
}

main > div p {
    margin-bottom: 1em;
}

main > div p:last-of-type {
    margin-bottom: 0;
}

main > div > div:last-child:not(:first-child) {
    background: url("../img/down_arrow.svg") no-repeat center;
    position: absolute;
    bottom: 50px;
    left: calc(50vw - 40px);
    margin: 0 auto;
    height: 80px;
    width: 80px;
    transition: bottom .2s ease;
    cursor: pointer;
}

main > div > div:last-child:not(:first-child):hover {
    bottom: 35px;
}

main > div > div:last-child:not(:first-child):active {
    bottom: 28px;
}

#projects {
    background: url("../img/background2.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}

#projects::before {
    background: rgba(112, 89, 55, 0.95);
}

#skills {
    background: url("../img/background3.jpg") no-repeat center center;
    background-size: cover;
}

main > div:not(:first-child) > div:first-child {
    width: 65%;
    max-width: 960px;
}

#skills::before {
    background: rgba(255, 220, 197, .95);
}

#skills > div:last-child {
    background-image: url("../img/down_arrow_black.svg");
}

#skills > div:first-child {
    text-shadow: 0 5px 1px rgba(0,0,0,.25);
}

#contact {
    background: url("../img/background5.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}

#contact::before {
    background: rgba(112, 89, 55, 0.95);
}

/* Projects */

.items {
    margin: 2em 0;
}

.items > li {
    float: left;
    margin-right: 2em;
    width: calc((100% / 3) - 2.01em - (4em / 3));
    min-height: 10em;
    padding: 1em;
    background: rgba(255,255,255,.7);
    display: flex;
    color: rgb(79, 59, 35);
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.items > li:hover {
    box-shadow: 0 0 1em rgba(0,0,0,.6);
}

.items > li:active {
    box-shadow: 0 0 .33em rgba(0,0,0,.6);
}

.items > li:last-of-type {
    margin: 0;
}

.items > li > div {
    margin: auto;
    width: 100%;
}

/* Canvas */

#canvas {
    font-weight: lighter;
}

#canvas h3 {
    font-size: 2.2em;
}

#canvas > div {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.3);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .5s ease;
    display: flex;
    cursor: pointer;
}

#canvas > .invisible {
    opacity: 0;
    pointer-events: none;
}

#canvas > .visible {
    opacity: 1;
    pointer-events: all;
}

#canvas > div > div {
    width: calc(70% - 2em);
    height: calc(70% - 2em);
    background: rgba(255,255,255,.8);
    transition: transform .5s ease;
    margin: auto;
    cursor: auto;
    padding: 1em;
}

#canvas > .invisible > div {
    transform: scale(0.66,0.66);
}

#canvas > .visible > div {
    transform: scale(1,1);
}

@media screen and (max-width: 960px) {
    main > div:not(:first-child) > div:first-child {
        width: 80%;
    }

    #canvas > div > div {
        width: calc(80% - 2em);
        height: calc(80% - 2em);
    }
}

@media screen and (max-width: 640px){
    nav {
        margin: 1em 0;
        padding: .5em;
        width: calc(100% - 1em);

    }

    .items > li {
        float: none;
        width: calc(100% - 2em);
        margin: 0 0 2em 0;
    }

    .items > li:last-of-type {
        margin-bottom: 0;
    }

    #canvas > div > div {
        width: calc(90% - 2em);
        height: calc(90% - 2em);
    }

    nav li {
        margin-right: .5em;
    }

    #compact {
        margin: 0;
    }

    main > div:not(:first-child) > div:first-child {
        width: auto;
    }

    main > div:not(:first-child) > div:first-child {
        width: auto;
    }

    main > div > div:last-child:not(:first-child) {
        bottom: 25px;
        left: calc(50vw - 25px);
        height: 50px;
        width: 50px;
    }

    main > div > div:last-child:not(:first-child):hover {
        bottom: 18px;
    }

    main > div > div:last-child:not(:first-child):active {
        bottom: 13px;
    }
}