html, body {
    height: 100%;
    background: #eee;
}

header {
    flex: 0 1 auto;
    border-bottom: 1px solid #416987;
}

header a {
    position: relative;
    z-index: 999;
}

body > main {
    flex: 1 1 auto;
    overflow: hidden;
}

.flex-reset {
    flex: 1 1 auto;
    position: relative;
    left: 0;
    transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.section {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    background: #eee;
    overflow-y: auto;
}

#helloSection {
    left: 0
}

#skillsSection {
    left: 100%
}

#showcaseSection {
    left: 200%
}

#contactSection {
    left: 300%
}

.indicator {
    width: 100%;
    height: 25%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 998;
    transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000), top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    background: #416987;
    padding-bottom: .45rem;
}

.indicator-line {
    border-bottom: 1px solid #fff;
    height: 100%;
    width: 45px;
    transition: width 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

nav {
    font-weight: lighter;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.nav-open {
    height: auto;
    max-height: 163px;
}

.title {
    width: 100%;
}

.title h1 {
    font-size: inherit;
    font-weight: lighter;
}

nav li {
    width: 100%;
}

nav li div {
    background: #417A74;
}

nav li div:hover {
    background: #356b65;
}

nav a, nav a:hover, nav a:focus {
    color: #fff;
    text-decoration: none;
}

.title {
    background: #eee;
    color: #416987;
}

.section-head {
    font-weight: lighter;
    color: #416987;
}

.section-head:before {
    content: "";
    width: 0.5em;
    height: 1em;
    margin-right: .1em;
    display: inline-block;
    background: #416987;
}

.me-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    opacity: 1;
    transition: opacity .5s;
    display: table;
    overflow: hidden;
}

.showcase {
    padding: 2rem 0;
}

/*.details:hover {*/
    /*opacity: 0;*/
/*}*/

.details--small {
    opacity: 0;
}

.details--hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.detail.detail--hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.details__container {
    display: table-cell;
    vertical-align: middle;
}

.detail {
    height: 80%;
    background: #eee;
    transform: scale(1);
    opacity: 1;
    transition: transform .5s, opacity .5s;
    padding: 2rem;
}

.details--small .detail {
    transform: scale(.8);
    opacity: 0;
}

/*.details:hover .detail {*/
    /*transform: scale(.8);*/
    /*opacity: 0;*/
/*}*/

.attention {
    background: #416987;
    color: #fff;
}

.showcase-item {
    padding: 2rem;
    overflow: hidden;
}

.showcase-item:hover {
    /*opacity: .7;*/
    cursor: pointer;
    background: #385673;
}

.showcase-label {
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: .8em;
    transition: top .5s, right .5s;
}

/*.showcase-hidden:hover + .showcase-label, .showcase-label:hover {*/
    /*right: 0;*/
    /*top: 1rem;*/
/*}*/

.website {
    background: #417A74;
}

.web-app {
    background: #418758;
}

/*.showcase-hidden {*/
    /*background: rgba(0, 0, 0, .7);*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*transition: opacity .33s;*/
    /*padding: 1rem;*/
    /*z-index: 1;*/
/*}*/

/*.showcase-item:hover .showcase-hidden {*/
    /*opacity: 1;*/
/*}*/

.showcase-body {
    margin-top: 1rem;
}

.showcase-body p {
    font-size: .8em;
    margin-bottom: .15rem;
}

.showcase-body p:last-child {
    margin: 0;
}

.showcase-item h2 {
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 1rem;
}

.showcase-item h2:before {
    display: none;
}

@media screen and (min-width: 768px) {
    .title {
        width: 20%;
    }

    nav {
        width: 80%;
        height: auto;
        max-height: 43px;
    }

    .indicator {
        width: 25%;
        height: 100%;
    }
}